#inicio {
  text-align: center;
  color: cornsilk;
  background-color: black;
  font-weight: bold;
}

body {
  font-family: sans-serif;
}

h2 {
  color: blueviolet;
}

img {
  width: 210px;
  height: auto;
}
