#titulo {
  text-align: center;
  color: cornsilk;
  background-color: black;
  font-weight: bold;
}

body {
  font-family: sans-serif;
}

h2 {
  color: red;
}

img {
  width: 200px;
  height: auto;
}
